body{
    background-color: whitesmoke;
    margin: 0px;
}
.above
{
    height: 100px;
    background-color: aliceblue;
    position:relative;
    top:0px;

}
.first_div
{
    background-color : aliceblue;
    /* position: relative; */
    margin-bottom: 0px;
}
.second_div
{
    margin-top:0px;
    background-color: aliceblue;
    position: relative ;
}
.cloud1
{
    display: inline-block; 
    position: absolute;

    margin-right: 20px;
    margin-top: 20px;
    top:4rem;
    right:3rem;

}
.cloud2
{
    display: inline-block;
    position: absolute;
    /* left: 6.25rem; */
    /* top: 1.25rem; */
    margin-left: 6.25rem;
    margin-top: 1.25rem;
}
.cloud-top
{
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

}
.mountain
{

    /* position: sticky; */

    /* padding-left: 25%; */
    display: block;
    margin: 0 auto;
    /* background-color: aliceblue; */
}

.middle-container
{
    position: relative;
}
.my-img
{
    width: 9.5rem;
    border-radius: 50%;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.my-img:hover
{
    box-shadow: 0px 0px 10px grey;
}


.raised-edge
{
    font-weight: inherit;
    /* margin-left: 35%; */
    margin-bottom: 10px;
    font-family: Sacramento,cursive;
    font-style: italic;
    color: #66bfbf;
    text-align: center;
    font-size: 3rem;
    position: sticky;
    /* box-shadow: mintcream 0px 0px 1px; */
    text-shadow: 0.5px 0.5px 1px #000000;
}

.raised-edge:hover
{
    text-shadow: none;

}


h1:hover
{
    background-color: cyan;
}

.programmer
{
    margin-top: 10px;
    /* margin-left: 40%; */
    font-family: cursive;
    font-style: italic;
    color: #66bfbf;

    /* position: sticky; */
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.6rem;
    /* font-size:; */
}
.Intro
{
    width: 35%;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    line-height: 1.5rem;
    
}
h2
{
    /* margin-top: 10px; */
    /* margin-left: 40%; */
    
    font-family: sans-serif;
    font-style: italic;
    color: #66bfbf;;
    /* position: sticky; */
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 0rem;

}

hr
{
    width: 8%;
    border-top: 4px dotted grey;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.coding
{
    width: 8rem;
    height: 8rem;
    /* float: left; */
    /* margin-left: 12rem; */
    border-radius: 50%;
}

.skill-row
{
    width: 100%;
    margin: auto;
}

.table-1
{
    width: 40%;
    margin-top: 4rem;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 2rem;
}
.table-p
{
    text-align: left;
    line-height: 1.5rem;
}
h3
{
    color: #66bfbf;
    text-align: left;
}

.contact-me
{
    text-align: centre;
    margin: auto;
    width: 35%;
}

.contact-me-text-heading
{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-me-text
{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
}

.btn {
    background-color: #11999e;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    width: 110px;
    margin-bottom: 3rem;

  }


.btn:hover
{
    box-shadow: 0px 0px 10px grey;

}

.bottom-container
{
    background-color: #66bfbf;
}

.footer-link
{
    color: #11999e;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin-top: 2rem;
}

.footer-link:hover
{
    color: mintcream;
}
.table-2
{
    margin-top: 4rem;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 2rem;
}

.table-2-a
{
    padding-top: 2rem;
    padding-right: 1rem
}

.final-line
{
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    color: whitesmoke;
    text-align: center;
}